@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 350 55% 99%;
    --foreground: 350 56% 5%;
    --muted: 170 38% 94%;
    --muted-foreground: 170 10% 31%;
    --popover: 350 55% 99%;
    --popover-foreground: 350 56% 5%;
    --card: 350 55% 99%;
    --card-foreground: 350 56% 5%;
    --border: 350 13% 90%;
    --input: 350 13% 90%;
    --primary: 350 13% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 13% 48%;
    --secondary-foreground: 0 0% 0%;
    --accent: 170 13% 48%;
    --accent-foreground: 0 0% 0%;
    --destructive: 10 89% 26%;
    --destructive-foreground: 10 89% 86%;
    --ring: 350 13% 48%;
    --chart-1: 350 13% 48%;
    --chart-2: 170 13% 48%;
    --chart-3: 170 13% 48%;
    --chart-4: 170 13% 51%;
    --chart-5: 350 16% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 350 48% 3%;
    --foreground: 350 21% 98%;
    --muted: 170 38% 6%;
    --muted-foreground: 170 10% 69%;
    --popover: 350 48% 3%;
    --popover-foreground: 350 21% 98%;
    --card: 350 48% 3%;
    --card-foreground: 350 21% 98%;
    --border: 350 13% 15%;
    --input: 350 13% 15%;
    --primary: 350 13% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 13% 48%;
    --secondary-foreground: 0 0% 0%;
    --accent: 170 13% 48%;
    --accent-foreground: 0 0% 0%;
    --destructive: 10 89% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 350 13% 48%;
    --chart-1: 350 13% 48%;
    --chart-2: 170 13% 48%;
    --chart-3: 170 13% 48%;
    --chart-4: 170 13% 51%;
    --chart-5: 350 16% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
